<div class="content container-fluid">
				
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Add Salary</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="salary.html">Accounts</a></li>
          <li class="breadcrumb-item active">Add Salary</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-sm-12">
    
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="addSalary()" [formGroup]="addSalaryForm">
            <div class="row">
              <div class="col-12">
                <h5 class="form-title"><span>Salary Information</span></h5>
              </div>
              <div class="col-12 col-sm-6">  
                <div class="form-group">
                  <label>Staff ID</label>
                  <input type="text" class="form-control" [class.invalid]="addSalaryForm.get('staffId').invalid && addSalaryForm.get('staffId').touched"
                  formControlName="staffId">
                  <div
                  *ngIf="addSalaryForm.get('staffId').invalid && addSalaryForm.get('staffId').touched">
                  <small
                      *ngIf="addSalaryForm.get('staffId').invalid && addSalaryForm.get('staffId').touched"
                      class="text-danger"> *Staff Id is required</small>
              </div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" [class.invalid]="addSalaryForm.get('name').invalid && addSalaryForm.get('name').touched"
                  formControlName="name">
                  <div
                  *ngIf="addSalaryForm.get('name').invalid && addSalaryForm.get('name').touched">
                  <small
                      *ngIf="addSalaryForm.get('name').invalid && addSalaryForm.get('name').touched"
                      class="text-danger"> *Name is required</small>
              </div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Gender</label>
                  <select class="form-control" id="exampleFormControlSelect1" [class.invalid]="addSalaryForm.get('gender').invalid && addSalaryForm.get('gender').touched"
                  formControlName="gender">
                    <option value = "">Select Gender</option>
                    <option value = "Female">Female</option>
                    <option value = "Male">Male</option>
                    <option value = "Others">Others</option>
                    </select>
                    <div
                    *ngIf="addSalaryForm.get('gender').invalid && addSalaryForm.get('gender').touched">
                    <small
                        *ngIf="addSalaryForm.get('gender').invalid && addSalaryForm.get('gender').touched"
                        class="text-danger"> *Gender is required</small>
                </div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Joining Date</label>
                  <input type="date" class="form-control" [class.invalid]="addSalaryForm.get('joiningDate').invalid && addSalaryForm.get('joiningDate').touched"
                  formControlName="joiningDate">
                  <div
                  *ngIf="addSalaryForm.get('joiningDate').invalid && addSalaryForm.get('joiningDate').touched">
                  <small
                      *ngIf="addSalaryForm.get('joiningDate').invalid && addSalaryForm.get('joiningDate').touched"
                      class="text-danger"> *Joining Date is required</small>
              </div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Amount</label>
                  <input type="text" class="form-control" [class.invalid]="addSalaryForm.get('amount').invalid && addSalaryForm.get('amount').touched"
                  formControlName="amount">
                  <div
                  *ngIf="addSalaryForm.get('amount').invalid && addSalaryForm.get('amount').touched">
                  <small
                      *ngIf="addSalaryForm.get('amount').invalid && addSalaryForm.get('amount').touched"
                      class="text-danger"> *Amount is required</small>
              </div>
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>							
    </div>					
  </div>					
</div>				