<div class="content container-fluid">
				
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Salary</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active">Salary</li>
        </ul>
      </div>
      <div class="col-auto text-right float-right ml-auto">
        <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
        <a routerLink = "/accounts/add-salary" class="btn btn-primary"><i class="fas fa-plus"></i></a>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-sm-12">
    
      <div class="card card-table">
        <div class="card-body">
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-center mb-0 datatable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Gender</th>
                  <th>Joining Date</th>
                  <th>Amount</th>
                  <th class="text-right">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let salary of lstSalary;let i = index">
                  <td>{{salary.idNo}}</td>
                  <td>
                    <h2 class="table-avatar">
                      <a class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/profiles/avatar-01.jpg" alt="User Image"></a>
                      <a>{{salary.name}}</a>
                    </h2>
                  </td>
                  <td>{{salary.gender}}</td>													
                  <td>{{salary.joiningDate}}</td>
                  <td>${{salary.amount}}</td>
                  <td class="text-right" *ngIf = "salary.status === 'Paid'">
                    <span class="badge badge-success">Paid</span>
                  </td>
                  <td class="text-right" *ngIf = "salary.status === 'Unpaid'">
                    <span class="badge badge-danger">Unpaid</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>							
    </div>					
  </div>					
</div>

<!-- Footer -->
<footer>
  <p>Copyright © 2020 Dreamguys.</p>					
</footer>
<!-- /Footer -->				