<div class="content container-fluid">
				
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Edit Teachers</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="teachers.html">Teachers</a></li>
          <li class="breadcrumb-item active">Edit Teachers</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-sm-12">
    
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="editTeachers()" [formGroup]="editTeachersForm">
            <div class="row">
              <div class="col-12">
                <h5 class="form-title"><span>Basic Details</span></h5>
              </div>
              <div class="col-12 col-sm-6">  
                <div class="form-group">
                  <label>Teacher ID</label>
                  <input type="text" class="form-control" [class.invalid]="editTeachersForm.get('teacherId').invalid && editTeachersForm.get('teacherId').touched"
                  formControlName="teacherId">
                  <div
                  *ngIf="editTeachersForm.get('teacherId').invalid && editTeachersForm.get('teacherId').touched">
                  <small
                      *ngIf="editTeachersForm.get('teacherId').invalid && editTeachersForm.get('teacherId').touched"
                      class="text-danger"> *Teacher Id is required</small>
              </div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" [class.invalid]="editTeachersForm.get('name').invalid && editTeachersForm.get('name').touched"
                  formControlName="name">
                  <div
                  *ngIf="editTeachersForm.get('name').invalid && editTeachersForm.get('name').touched">
                  <small
                      *ngIf="editTeachersForm.get('name').invalid && editTeachersForm.get('name').touched"
                      class="text-danger"> *Name is required</small>
              </div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Gender</label>
                  <select class="form-control" [class.invalid]="editTeachersForm.get('gender').invalid && editTeachersForm.get('gender').touched"
                  formControlName="gender">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Others</option>
                  </select>
                  <div
                  *ngIf="editTeachersForm.get('gender').invalid && editTeachersForm.get('gender').touched">
                  <small
                      *ngIf="editTeachersForm.get('gender').invalid && editTeachersForm.get('gender').touched"
                      class="text-danger"> *Gender is required</small>
              </div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Date of Birth</label>
                  <input type="date" class="form-control" value ="{{ setDate | date:'yyyy-MM-dd' }}">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Mobile</label>
                  <input type="text" class="form-control" [class.invalid]="editTeachersForm.get('mobile').invalid && editTeachersForm.get('mobile').touched"
                  formControlName="mobile">
                  <div
                  *ngIf="editTeachersForm.get('mobile').invalid && editTeachersForm.get('mobile').touched">
                  <small
                      *ngIf="editTeachersForm.get('mobile').invalid && editTeachersForm.get('mobile').touched"
                      class="text-danger"> *Mobile Number is required</small>
              </div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Joining Date</label>
                  <input type="date" class="form-control" value ="{{ setDate | date:'yyyy-MM-dd' }}">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Qualification</label>
                  <input class="form-control" type="text" value="Bachelor of Engineering">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Experience</label>
                  <input class="form-control" type="text" value="5">
                </div>
              </div>
              <div class="col-12">
                <h5 class="form-title"><span>Login Details</span></h5>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control" value="Vincent">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Email ID</label>
                  <input type="email" class="form-control" value="vincent20@gmail.com">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" value="vincent">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Repeat Password</label>
                  <input type="password" class="form-control" value="vincent">
                </div>
              </div>
              <div class="col-12">
                <h5 class="form-title"><span>Address</span></h5>
              </div>
              <div class="col-12">
                <div class="form-group">
                <label>Address</label>
                  <input type="text" class="form-control" [class.invalid]="editTeachersForm.get('address').invalid && editTeachersForm.get('address').touched"
                  formControlName="address">
                  <div
                  *ngIf="editTeachersForm.get('address').invalid && editTeachersForm.get('address').touched">
                  <small
                      *ngIf="editTeachersForm.get('address').invalid && editTeachersForm.get('address').touched"
                      class="text-danger"> *Address is required</small>
              </div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>City</label>
                  <input type="text" class="form-control" value="Omaha">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>State</label>
                  <input type="text" class="form-control" value="Omaha">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Zip Code</label>
                  <input type="text" class="form-control" value="3979">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Country</label>
                  <input type="text" class="form-control" value="USA">
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      
    </div>					
  </div>					
</div>
