<div class="content container-fluid">
				
  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Edit Subject</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="subjects.html">Subject</a></li>
          <li class="breadcrumb-item active">Edit Subject</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-sm-12">
    
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="editSubjects()" [formGroup]="editSubjectsForm">
            <div class="row">
              <div class="col-12">
                <h5 class="form-title"><span>Subject Information</span></h5>
              </div>
              <div class="col-12 col-sm-6">  
                <div class="form-group">
                  <label>Subject ID</label>
                  <input type="text" class="form-control" [class.invalid]="editSubjectsForm.get('subjectId').invalid && editSubjectsForm.get('subjectId').touched"
                  formControlName="subjectId">
                  <div
                  *ngIf="editSubjectsForm.get('subjectId').invalid && editSubjectsForm.get('subjectId').touched">
                  <small
                      *ngIf="editSubjectsForm.get('subjectId').invalid && editSubjectsForm.get('subjectId').touched"
                      class="text-danger"> *Subject ID is required</small>
              </div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Subject Name</label>
                  <input type="text" class="form-control" [class.invalid]="editSubjectsForm.get('subjectName').invalid && editSubjectsForm.get('subjectName').touched"
                  formControlName="subjectName">
                  <div
                  *ngIf="editSubjectsForm.get('subjectName').invalid && editSubjectsForm.get('subjectName').touched">
                  <small
                      *ngIf="editSubjectsForm.get('subjectName').invalid && editSubjectsForm.get('subjectName').touched"
                      class="text-danger"> *Subject name is required</small>
              </div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Class</label>
                  <input type="text" class="form-control" [class.invalid]="editSubjectsForm.get('class').invalid && editSubjectsForm.get('class').touched"
                  formControlName="class">
                  <div
                  *ngIf="editSubjectsForm.get('class').invalid && editSubjectsForm.get('class').touched">
                  <small
                      *ngIf="editSubjectsForm.get('class').invalid && editSubjectsForm.get('class').touched"
                      class="text-danger"> *Class is required</small>
              </div>
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      
    </div>					
  </div>					
</div>
